*.bin
.venv
*__pycache__
test-db
flask_session
*.db
*.rdb
.idea
.DS_Store
.vscode/*
!.vscode/launch.json
node_modules
.eslintcache
.cache
vite.config.js.timestamp-*
.vercel_build_output
.svelte-kit
symlink-from
.idea/
